[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Nelson Pecora
	email = hi@nelson.codes
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKowcgtuFI0asrzRUj/15TnGTpqOSbsfJBvdXL14Gov9
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	autocrlf = input
[alias]
	# instead of doing a git pull, only fetch the branch we're on (e.g. master)
	up = ! git fetch origin "$(git symbolic-ref --short HEAD)" --no-tags && git rebase "origin/$(git symbolic-ref --short HEAD)"
	# use with git-switch-branch (from npm)
	switch = ! git-switch-branch
	prune-branches = !git-prune-branches
	# other short commands
	st = status -bs
	di = diff
	me = mergetool
	co = checkout
  cob = checkout -b
	ci = commit
	br = branch
  bra = branch -a
	sta = stash
	ap = stash apply
	pu = ! git push -u origin "$(git symbolic-ref --short HEAD)"
  pr = pull-request
	# switch to (co) master (m) and update
	com = ! git co master && git up
	# update (up) branch (b) from latest master
  refresh = ! git com && git co - && git rebase master
	# clear out all staged + unstaged changes
	clear = checkout -- .
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --full-history --branches
	# infernal magicks
	enchant = add
	charge = commit
	bless = init
	spells = status
	scry = diff
	necronomicon = lg
	obliterate = reset
	sacrifice = reset --hard
	banish = rm
	curse = checkout
	mix = merge
	conjure = pull
	cast = push
	smite = push --force
	runes = show
	teleport = mv
	obtain = fetch
	summon = clone
[push]
	default = simple
[pull]
	default = simple
	rebase = true
[color "status"]
  added = green
  changed = blue
  untracked = white ul
[color "branch"]
  current = magenta bold
  local = white
  remote = yellow dim
[color]
	ui = true
[init]
	defaultBranch = main
