[user]
	name = Nelson Pecora
	email = nelson@yoshokatana.com
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	autocrlf = input
[alias]
	up = pull
	st = status -bs
	di = diff
	me = mergetool
	co = checkout
  cob = checkout -b
	ci = commit
	br = branch
  bra = branch -a
	sta = stash
	ap = stash apply
	pu = push
  pr = pull-request
  latest = ! git checkout master && git pull origin master && git checkout - && git rebase master
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr    )%C(bold blue)<%an>%Creset' --abbrev-commit --full-history --branches
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[push]
	default = simple
[pull]
	default = simple
[mergetool]
	keepBackup = false
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[color "status"]
  added = green
  changed = blue
  untracked = white ul
